VITE_SUPABASE_URL=https://kozuxlbugliohhluwdog.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_yqzyrvWMLvT1_-Uv00tzxw_zCvp0kO0
VITE_STRIPE_PUBLISHABLE_KEY=pk_test_51TijscFISgLTRF76Gz3LJMOY9WHh63HZrzO0p4t5IJnlwSXHCeUI0gDgMOYvz88VUD2iiPLF39smN2hLbc3nlKuM00CYv7FGAd
VITE_STRIPE_CLIENT_ID=ca_...
